<!-- <div class="modal fade" id="modalWidow" tabindex="-1" aria-labelledby="mdoalLabel" *ngIf="showModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">System Message</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">Close</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div> -->