<!-- <div>
    <form>
        <input type="text" name="symbol" placeholder="Stock symbol" />
        <input type="string" name="shares" placeholder="Enter shares" />
        <input type="number" name="averageCost" placeholder="Average Cost" />
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </form>
</div> -->

<div class="container">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="form-row form-group">
            <div class="col-3">
                <input type="text" class="form-control uppercase" formControlName="tickerSymbol" placeholder="Stock symbol">
            </div>
            <div class="col-3">
                <input type="text" class="form-control uppercase" formControlName="fractionalShares" 
                placeholder="Enter shares">
            </div>
            <div class="col-3">
                <input type="text" class="form-control uppercase" formControlName="averageCost" placeholder="Average Cost">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary mb-2" type="submit"
                [disabled]="!checkoutForm.valid">
                    Add Stock
                </button>
            </div>
        </div>

        <div class="formResultContainer" *ngIf="!checkoutForm.valid">
            <h3>An Error Occurred</h3>
            <p>Please enter in a valid stock symbol, fraction shares, and currency value.</p>
        </div>

        <div class="formResultContainer" *ngIf="message">
            <h3>{{ message }}</h3>
        </div>
    </form>
</div>